{
  "extends": [
    "airbnb",
    "prettier",
  ],
  "plugins": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    /* тут пишите правила,
     * так же при использовании конфигов,
     *  вам скорей всего захочется какие-то
     * правила, используемые в них, отключить,
     * это можно сделать тут
     */
  }
}